html {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --hover-color: #2196F3;
  --focus-color: #2196F3;
  --link-color: #212121;
  --primary-bttn-color: #2196F3;
}

.body {
  background: rgba(255, 255, 255, 1);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;

}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* -----------------------видалення: маркери, підкреслення, посилання, відступів---------------- */
a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  list-style: none;
  padding-left: 0;

}

li {
  line-height: initial;
}

address {
  font-style: normal;
}

img {
  display: block;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -----------------------Стилізація основного контейнеру----------------------- */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}



/* -----------------------Стилізація логотипу--------------------------- */
.logo {
  display: inline-block;
  color: rgba(0, 0, 0, 1);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-blue {
  display: inline-block;
  align-items: center;
  color: rgba(33, 150, 243, 1)
}

/* ------------------------------------Хедер ---------------------------- */
.header {
  height: 80px;
  border-bottom: 1px solid #ECECEC;
}

.header-main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.header-nav {
  display: flex;
  align-items: center;
}

/* ---------------------стилізація навігації по сайту--------------------- */
.site-nav {
  display: block;
  align-items: center;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin-left: 93px;
}

.site-nav .link {
  display: block;
  color: var(--link-color);
}

.site-nav .link:hover {
  color: var(--hover-color)
}

.site-nav .link:focus {
  color: var(--focus-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .item {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 32px;
}

.site-nav .item:last-child {
  margin-right: 0px;
}

.site-cont {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin-left: auto;
}

.site-cont .link {
  display: block;
  color: var(--primary-text-color);
}

.site-cont .link:hover {
  color: var(--hover-color)
}

.site-cont .link:focus {
  color: var(--focus-color);
}

.site-cont .item {
  padding-top: 32px;
  padding-bottom: 32px;
  /* margin-right: 50px; */
}

.site-cont .item+.item {
  margin-right: 0px;
}

.flex-contacts {
  display: flex;
  justify-content: space-between;
}

.flex-mail-logo::before {
  display: inline-block;
  content: '';
  height: 12px;
  width: 16px;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-position: center;
  /* border: 1px solid #b02288; */

}

.flex-tel-logo::before {
  display: inline-block;
  content: '';
  height: 16px;
  width: 12px;
  margin-left: 30px;
  /* background-size: 16px 12px; */
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-position: center;
  /* border: 1px solid #b02288; */

}

.flex-tel-logo:hover::before {
  color: blue;
}

.link .flex-mail-logo {
  margin-right: 30px;
}

.flex-mail-logo::before {
  background-image: url(../images/envelope.svg);
}

.flex-tel-logo::before {
  background-image: url(../images/telephonelogo.svg);
}

/* -----------------------Стилізаця Кнопки----------------------- */
button {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-right: auto;
  margin-left: auto;
}


/* -----------------------Секція основного банеру----------------------- */
.overlay {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/imgherooverlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(196, 196, 196, 1);
}


.hero {
  background-color: #2F303A;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  display: inline-block;
  width: 696px;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-design {

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196F3;
  padding: 10px 32px;
  min-width: 152px;
  text-align: center;
}

.button-text {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
}

/* -----------------------стилізація секцій----------------------- */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -----------------------Секція Переваги----------------------- */
.flex-features {
  display: flex;
}

.flex-features-item {
  margin-right: 30px;
}

.flex-features-item::before {
  display: block;
  content: '';
  height: 120px;
  background-size: 65px 70px;
  background-repeat: no-repeat;
  background-color: #F5F4FA;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.flex-features-item:last-child {
  margin-right: 0;
}

.features .title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features .text {
  font-size: 14px;
  line-height: 1.71;
}

.section.section-features {
  padding-bottom: 0px;
}

/* -----------------------Секція Чим ми займаємось----------------------- */

.flex-work-examples {
  display: flex;
  gap: 30px;
}

/* -----------------------Секція Команда----------------------- */
.section.section-team {
  background-color: #F5F4FA;
}

.flex-team-list {
  display: flex;
  gap: 30px;
}

.flex-team-list>.flex-team-item {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  margin-bottom: 30px;
}

.team .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.team .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}

.flex-command-social-list {
  display: flex;
}

.item-social::before {
  display: inline-block;
  content: '';
  height: 44x;
  width: 44px;
  /* background-size: 20px 44px; */
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-position: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

/*------------------------------ Секція Постійні клієнти ----------------------------> */

.flex-clients {
  display: flex;
}

.flex-clients-item {
  display: block;
  margin-right: 30px;
}

.flex-clients-item:last-child {
  margin-right: 0;
}

.flex-clients-item::before {
  display: block;
  content: '';
  height: 92px;
  width: 170px;
  background-size: 106px 60px;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-position: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.icon-logo-company::before {
  background-image: url(../images/Logocompany.svg);
}

.icon-logo-union::before {
  background-image: url(../images/Union.svg);
}

.icon-logo-onion::before {
  background-image: url(../images/Logoonion.svg);
}

.icon-logo-foster::before {
  background-image: url(../images/Logofosterpeters.svg);
}

.icon-logo-brand::before {
  background-image: url(../images/Logobrand.svg);
}

.icon-logo-tagline::before {
  background-image: url(../images/Logotagline.svg);
}

/* -----------------------Секція Фільтр робіт, Стилізаця Кнопки----------------------- */
.button-filter {
  display: inline-block;
  color: #212121;
  background: rgba(245, 244, 250, 1);
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.button-filter:hover {
  color: #FFFFFF;
  background-color: var(--primary-bttn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-filter:focus {
  color: #FFFFFF;
  background-color: var(--primary-bttn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.flex-btn-container {}

.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.filter-list.section {
  padding-bottom: 0px;
  margin-bottom: 50px;
}

.filter-item {
  display: block;

}

.filter-item:last-child {
  margin-right: 0;
}

/* ----------------------Контейнери прикладу робіт--------------------------------------- */
.container.section {
  padding-top: 0px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.flex-element>.title {
  display: block;
  align-items: center;

}

.flex-element>.text {
  display: block;
  align-items: center;

}

.projects-item {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

/* -----------------------Секція Приклади робіт----------------------- */
.projects .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.projects .text {
  color: var(--primary-text-color)
}

/* -----------------------Футер----------------------- */
.footer-container {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */

}

.logo-footer {
  /* margin-right: 156px; */
}

.logo-white {
  display: inline-block;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 1)
}

.footer-style {
  padding-top: 60px;
  background-color: #2F303A;
}

.footer-nav {
  display: inline-block;
  padding-bottom: 60px;
  margin-right: 70px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-nav .address {
  display: inline-block;
  margin-bottom: 9px;
  color: #FFFFFF;

}

.footer-nav .contact {
  display: inline-block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav .link:hover {
  color: var(--focus-color);
}

.footer-nav .link:focus {
  color: var(--focus-color);
}

.footer-nav .last {
  margin-bottom: 0;
}

.title-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 12px;
  padding-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.social-item-footer {
  display: inline-block;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.icon-instagram {
  color: #FFFFFF;
  background-image: url(../images/instagram.svg);
}

.icon-twitter {
  color: #FFFFFF;
  background-image: url(../images/twitter.svg)
}

.icon-facebook {
  color: #FFFFFF;
  background-image: url(../images/facebook.svg)
}

.icon-linkedin {
  color: #FFFFFF;
  background-image: url(../images/linkedin.svg)
}

.social-item-footer:hover {
  background-color: #2196F3;
}