:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --hover-color: #2196F3;
  --focus-color: #2196F3;
  --link-color: #212121;
  --primary-bttn-color: #2196F3;
}

.page {
  /* background-color: #F5F5F5; */
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* Видаляємо маркери підкреслення посилань */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

/* Стилізація основного контейнеру */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* text-align: center; */
  /* padding-top: 94px; */
  /* padding-bottom: 94px; */
  outline: 2px solid tomato;
}

/* Header */


/* Стилізація логотипу */
.logo {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 1);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-blue {
  color: rgba(33, 150, 243, 1)
}

/* стилізація навігації по сайту */
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link {
  color: var(--link-color);

}

.site-nav .link:hover {
  color: var(--hover-color)
}

.site-nav .link:focus {
  color: var(--focus-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-cont {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-cont .link {
  color: var(--primary-text-color);
}

.site-cont .link:hover {
  color: var(--hover-color)
}

.site-cont .link:focus {
  color: var(--focus-color);
}

/* Стилізаця Кнопки */
button {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
}


/* Секція основного банеру */
.hero {
  
  background-color: #2F303A;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-transform: uppercase;
  color: #FFFFFF;
}

.button-design {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: #2196F3;
  padding: 10px 32px;
  min-width: 152px;
}

.button-text {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;

}

/* стилізація секцій */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Секція Переваги */
.features .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features .text {
  font-size: 14px;
  line-height: 1.71;
}

/* Секція Команда */
.section .team-bg {
    background-color: #F5F4FA;
}

.team {
  margin-top: 0;
  margin-bottom: 30px;
}

.team .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.team .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}

/* Секція Фільтр робіт, Стилізаця Кнопки */
.button-filter {
  color: #212121;
  background: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;


}

.button-filter:hover {
  color: #FFFFFF;
  background-color: var(--primary-bttn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

}

.button-filter:focus {
  color: #FFFFFF;
  background-color: var(--primary-bttn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

}

/* Секція Приклади робіт */
.projects .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.projects .text {
  color: var(--primary-text-color)
}

/* Футер */
.logo-white {
  display: inline-block;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 1)
}

.footer-style {
  
  padding-top: 60px;
  background-color: #2F303A;
}

.footer-nav {
  padding-bottom: 60px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-nav .address {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 9px;
  color: #FFFFFF;
}

.footer-nav .contact {
  display: inline-block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav .link:hover {
  color: var(--focus-color);
}

.footer-nav .link:focus {
  color: var(--focus-color);
}